/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* posicionamento da calculadora na página */

body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

/* "corpo" da calculadora */

#calc {
    width: 400px;
    padding: 0.5em;
    background-color: #c4c4c4;
    color: #000;
    display: flex;
    flex-direction: column;
}

/* título da página */

#calc h3 {
    font-size: .8em;
    font-weight: 300;
    color: #666;
}

/* visor e operações feitas */

#screen-operations {
    text-align: right;
}

#previous-operation, #current-operation {
    min-height: 1.6em;
    padding: .2em;
    overflow-wrap: break-word;
}

/* operações anteriores */

#previous-operation {
    color: #777;
}

/* operações atuais */

#current-operation {
    font-size: 3em;
    font-weight: 700;
}